<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QVLEGSCOG2362.Properties.Settings.ConnectionString"
      connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Ferrero_Abrigo_2362;Integrated Security=true;" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
  </runtime>
</configuration>
